<div class="wrapper student-view">

	<div class="student">
		<div class="poll-question text-center twelve">
			<ul class="button-group even four-up">
			  <li><a class="tall color red button"></a></li>
			  <li><a class="tall color green button"></a></li>
			  <li><a class="tall color yellow button"></a></li>
			  <li><a class="tall color blue button"></a></li>
			</ul>
		</div>
		<div class="flag-button">
			<%= button_to 'Review', @flag %>
		</div>
		
		<div class="ask-question text-center row">
			<a class="button secondary round large">Ask a Questions</a>
		</div>
		<hr>
	</div>
</div>
