#player

coffee:
  ids = ['u1zgFlCw8Aw', 'kpCJyQ2usJ4', 'HbZjmGQ3Ji8', 'FLGRPYAtReo', 'RSD8PMWS-U8', '71NUxTfGaW8', 'PMeiNnR8gro', 'ZffZvSH285c', '0ciUwIMPDqY']
  videos = new gtvc.collections.Videos
  jqxhr = videos.fetch
    dataType: 'jsonp'
    data:
      key: 'AIzaSyBg7WwJVUSL_x-JGkEVMu33wGH1U7CEEGs'
      id: ids.join()
      part: 'snippet'
  jqxhr.done (response) =>
    player = new gtvc.views.Player
      el: '#player'
      context: window
      videoId: videos.first().id
    carousel = new gtvc.views.Carousel
      collection: videos
      itemView: gtvc.views.Thumbnail
    $('body').append carousel.render().el
