/*
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

$blue: #75aad9;
$red: #993f3e;
$yellow: #f6e863;
$green: #5f8b4f;
$primary_font: #272727;
$secondary_font: #6f6f6f;

body {
  height: 100%;
  width: 100%;
}

$img_height: 200px;
$bottom_margin: 5px;

.carousel {
	overflow: hidden;
	height: $img_height + $bottom_margin;
	width: 10000px;
  background: rgba(255, 255, 255, 0.3);
	position: fixed;
	bottom: 0;

  & > div {
    height: $img_height;
    width: $img_height;
    float: left;
    overflow: hidden;
    text-align: center;

    img{
      max-width: none;
      height: $img_height;
      display: block;
      margin: 5px 5px $bottom_margin;
      opacity: 0.67;
    }

    &.selected img {
      border-top: 5px solid $blue;
      opacity: 1;
    }
   }
}
  
.modal {
  position: fixed;
  top: 0;
  height: 50%;
  width: 100%;
  background: rgba(255, 255, 255, .8 );
}

#player{
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.flag-button{
	width: 100%;
}

.flag-button form input:active{
	background: black;
}
.student-flag{
	font-size:1000%;
	text-align: center;
	margin: 10%;
	border: .1em #222 solid;

}
.student-flag h2{
	color: #222;

}
.student-flag h1{
	font-size: .1em;
	background: #222;
	color: white;
}
.flag-button form input{

	border:none;
	padding-top:15%;
	padding-bottom:15%;
	width:90%;
	font-size: 4em;
	border:2px black solid;
	margin: 5%;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	border-radius: 1000px;
	background: #2BA6CB;
	border: 1px solid #1E728C;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	position: relative;
	margin-top: 10%;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}
.notice{
	border: 0px;
	padding: 0px;
}

.ali-face{max-width:10%; max-height: 10%; display: inline-block; }

span.color{ padding:2px 10px ;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius:7px;
}

.red{ background: #c1272d!important;}
.red:active{ background: black!important;}
.red:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.green{ background: #009245!important;}
.green:active{ background: black!important;}
.green:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.yellow{ background: #fcee21!important;}
.yellow:active{ background: black!important;}
.yellow:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.blue{ background: #29abe2!important;}
.blue:active{ background: black!important;}
.blue:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.tall.color.button{height:4em;}

span.color{ padding:2px 10px ;   
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius:7px; 
}

.red{ background: #c1272d!important;}
.red:active{ background: black!important;}
.red:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.green{ background: #009245!important;}
.green:active{ background: black!important;}
.green:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.yellow{ background: #fcee21!important;}
.yellow:active{ background: black!important;}
.yellow:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.blue{ background: #29abe2!important;}
.blue:active{ background: black!important;}
.blue:hover{ opacity: .8;
-webkit-transition: all 200ms ease;}
.tall.color.button{height:4em;}

.student-poll .yellow{ background:$yellow;}
.student-poll .blue{ background:$blue;}
.student-poll .red{ background: #993f3e;}
.student-poll .green{background: $green;}
.flag-button{
	width: 100%;
}
.flag-button form input:active{
	background: black;
}
.student-flag{
	font-size:1000%;
	text-align: center;
	margin-top: 5%;
	margin-left: 9%;
	margin-right: 9%;
	border: .1em #222 solid;

}
.student-poll{
		text-align: center;
}
.student-poll .redd{ background: #993f3e;}

.student-poll h2{

	display: inline-block;
	width:20%;
	margin: 0px;
	padding-top:1%;
	padding-bottom:1%;
	color: white;
	margin-bottom: 1em;
	margin-top:.2em;
}
.student-poll  h2.yellow {color: #222;}
.student-flag h2{
	color: #222;

}
.student-flag h1{
	font-size: 1em;
	background: #222;
	color: white;
}


.modal{
	text-align: center;
	padding-top:2em;
	h2{
		padding-bottom:.5em;
		font-size: 6em;
	}
	li:nth-child(1){background: #993f3e;}
	li:nth-child(2) {background:$yellow;}
	li:nth-child(3){ background:$blue;}
	li:nth-child(4){background: $green;}
	li{

		text-align: center;
		width:25% !important;
		font-size: 10em;
		display: inline-block;
	}
	h2:first-letter{
		background:black;
		color:white;
		padding-left:.4em;
		padding-right:.4em;
	}
}


